*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to right, #3513de 0%, #000000 85%);
}

.col-md-6{
    border: 5px solid white;
    margin-top: 8% !important;
    padding: 2rem;
}

h1{
    color: white;
    margin: 1.5rem !important;
    padding: 1rem !important;
}

p{
    padding: 1rem 0rem;
    font-size: 2.8rem;
    color: white;
}

.btn{
    margin: 1rem !important;
    outline: none !important;
    border: none !important;
    font-weight: bolder !important;
    width: 30% !important;
}

.btn-danger{
    background-color: rgb(255, 0, 149) !important;
}

@media (max-width: 576px) {
    .container{
        width: 85% !important;
    }

    .btn{
        margin: .8rem !important;
        width: 40% !important;
    }
}